@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}
#particles-js {
  width: 100%;
  height: 100vh;
  background-color: #55a4da;
  background-attachment: fixed;
  z-index: -1;
}
#particles-js #banner_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}
#particles-js #banner_cont a {
  color: inherit;
}
#particles-js #banner_cont h1 {
  font-size: 170px;
}
#particles-js #banner_cont p {
  font-size: 25px;
}
#particles-js #banner_cont .btn-floating {
  background: inherit;
  margin-top: 10px;
  border: 2px solid #ffffff;
}
#particles-js #banner_cont .btn-floating .material-icons {
  font-size: 40px;
  position: absolute;
  top: 50%;
  let: 50%;
  -webkit-transform: translate(-50%, -50%);
}
#about_bloc {
  padding: 50px;
}
#about_bloc .valign {
  text-align: center;
}
#about_bloc .info {
  margin: 20px 0 30px 0;
  font-size: 18px;
}
#about_bloc #programs {
  display: block;
  margin: 0 auto;
  border: none;
}
#about_bloc #programs .btn {
  background: #55a4da;
}
